body {
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    width: 100%;
    height: 150px;
    background: #fff;
    display: flex;
    align-items: center;
}

header img {
    margin: 20px;
}

.heading {
    width: 100%;
}

.heading h1 {
    margin: 0 0 5px 0;
    color: #333;
    font: 600 24px 'Roboto Slab';
}

.heading p {
    display: flex;
    margin: 0;
    padding: 0;
    color: #555;
    font: 14px 'Roboto Slab';
    text-align: left;
}

.social {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.social i {
    margin: 0 10px;
    transition: 0.3s;
}

.social i:nth-child(1):hover,.footer-soc i:nth-child(1):hover {
    cursor: pointer;
    color: #3C5A99;
}

.social i:nth-child(2):hover,.footer-soc i:nth-child(2):hover {
    cursor: pointer;
    color: #1DA1F2;
}

.social i:nth-child(3):hover,.footer-soc i:nth-child(3):hover {
    cursor: pointer;
    background: linear-gradient(to top, #c32aa3, #4c5fd7, #7232bd, #f46f30, #ffdc7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    width: 100%;
}

.menu-bar {
    width: 100%;
    transition: 0.5s;
    /*background:honeydew;*/
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.menu-bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    margin: 0;
}

.menu-bar ul li {
    margin: 10px;
}

.menu-bar ul li:last-child {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.menu-bar ul li:last-child a:hover {
    background: royalblue;
    color: #ffffff;
}

.menu-bar ul li a {
    color: #555;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-bar ul li a:hover ,.active{
    background: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.menu-bar ul li:nth-child(1) {
    width: 30%;
    font: 600 20px 'Abyssinica SIL';
}

.boy-hostel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.boy-img, .details {
    width: 500px;
    margin: 40px 20px 20px 20px;
    background: transparent;
    font: 12px 'Roboto Slab';
}

.boy-img img {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 5px;
}

.details {
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.positions {
    position: fixed;
    top: 0;
    left: 0;
    background:#F5F5F5;
    opacity: 1;
    animation: menu 0.3s linear;
}
@keyframes menu {
    0%{
       transform: translateY(-100px);
    }
    50%{
    }
    100%{
        transform: translateY(0);
    }
}
.staff {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
}

.staff h1,.boy-hostel h1{
    width: 100%;
    color: #333;
    text-align: center;
    margin-top: 40px;
    font: 600 24px 'Roboto Slab';
}

.card {
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card img {
    margin: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.name, .post {
    margin: 0;
    font: 14px 'Roboto Slab';
}

.name {
    color: #333;
}

.post {
    color: #555;
    font: 12px 'Roboto Slab';
}

.card .p {
    font: 12px 'Roboto Slab';
}

.footer {
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background:#F5F5F5;
}
.footer-soc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    box-sizing: border-box;
}
.footer-soc i{
    margin: 10px;
}
.footer p{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font: 12px 'Roboto Slab';
    background: #fff;
}

/*login.html*/

.login{
    width: 400px;
    height: 300px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
.login h1,.grievance h1{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    font:600 24px 'Roboto Slab';
}
.control{
    width: 90%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin:10px 20px;
    font: 12px 'Roboto Slab';
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    outline-style: none;
}
.control:focus{
    border: 1px solid rgba(0,0,0,0.3);
}
.login-btn{
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;
    font: 14px 'Roboto Slab';
    color: #fff;
    outline-style: none;
    background: royalblue;
    transition: 0.3s;
}
.login-btn:hover,.submit-btn:hover{
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 4px 2px rgba(0,0,0,0.3);
}
.login-btn:active,.submit-btn:active{
    transform: translateY(2px);
    box-shadow: none;
    opacity: 1;
}

/*Grievance.html*/

.grievance{
    max-width: 600px !important;
    margin: 40px auto;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.marginer{
    margin: 10px 30px;
}
.txt-area{
    border: none;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
}
.submit-btn{
    width: 90%;
    padding: 10px;
    font: 14px 'Roboto Slab';
    border-radius: 5px;
    border: none;
    color: #fff;
    background: #09AB00;
    margin-bottom: 20px;
    transition: 0.3s;
    outline-style: none;
}

/*Notice.html*/

.notice{
    width: 1000px;
    margin: 40px auto;
}
.notice h1{
    font: 600 24px 'Roboto Slab';
    text-align: center;
    color: #333;
}
.notice table{
    margin:auto;
}
.notice table, .notice td, .notice th{
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    border-collapse: collapse;
}
.notice table td, .notice table th{
    padding: 10px;
    font: 12px 'Roboto Slab';
}
.notice table th{
    font: 600 14px 'Roboto Slab';
}

/*AdminPanel.html*/

/*GrievancePanel.html*/

.panel{
    width: 90%;
    margin: 40px auto;
}
.panel h1{
    font: 600 24px 'Roboto Slab';
    text-align: center;
    color: #555;
}
.panel table{
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,0.2);
    margin:auto;
}
.panel table td{
    padding: 10px;
    text-align: left;
    font: 12px 'Roboto Slab';
}
.panel table th{
    padding: 10px;
}
.panel table th,.panel table td{
    border: 1px solid rgba(0,0,0,0.2);
}

/*ViewNotice.html*/
.add-notice{
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    color: #555;
    transition: 0.3s;
    border-radius: 5px;
}
.add-notice:hover{
    border: 1px solid white;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    color: #000;
}

.host{
    width: 70%;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    margin: 20px auto;
    border-radius: 25px;
    box-sizing: border-box;
}
.host h1{
    color: #555;
    font: 600 20px 'Roboto Slab';
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 30px 0 5px 0;
    margin: 0;
}
.host h3{
    font:16px 'Roboto Slab';
    margin: 0;
    text-align: center;
    color: #777;
    padding-bottom: 30px;
}
.controller{
    width: 95%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.controller:focus{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.selector{
    width: 45%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin:10px 20px;
    font: 12px 'Roboto Slab';
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
    background: transparent;
    outline-style: none;
}
.hide{
    display: none;
}

.tabular{
    width: 100%;
}
.tabular table{
    width: 95%;
    margin: 10px auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-collapse: collapse;
}
.tabular table th,table td,table tr{
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    font: 12px 'Roboto slab';
}
.tabular table td{
    padding: 0;
}
.tabs{
    border: none;
    text-align: center;
    margin: 0;
}

/*viewhostel.php*/
.viewtable{
    width: 80%;
    margin: auto;
}
.viewtable table{
    width: 50%;
    margin: auto;
    border: none;
}
.viewtable table tr, .viewtable table td{
    border: none;
    font: 600 14px 'Roboto Slab';
    text-align: right;
}
.tdata{
    font:400 14px 'Roboto Slab' !important;
    text-align: left !important;
    color: #555555;
}
.sort-btn{
    position: absolute;
    top: 100px;
    right: 30px;
}